
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5vh;
  backdrop-filter: 5px;
  background-color: #ffffff;
}
p {
  margin: 0;
  padding: 0;
}
.main-button {
  background-color: #FFF; /* Green background */
  border: 2px solid black; /* Green border */

  border-radius: 0.75rem;
  padding: 10px 24px; /* Some padding */
  margin: 10px;
  cursor: pointer; /* Pointer/hand icon */
  width: 100%; /* Set a width if needed */
}
.main-button:hover{
  background-color: #e4e4e4;
  border: 2px solid rgb(15, 15, 15);
}
.input-container {
  display: inline-block;
}
.row {
  width: 100%;
  text-align: center; 

}

.block {
  width: 100px;

  display: inline-block;
}
